In [2]:
# import the libraries 
import pandas as pd

## Create a series from a list

In [12]:
data = [10,20,30,40]
series = pd.Series(data=data)

series

0    10
1    20
2    30
3    40
dtype: int64

#### Explanation:
- The data list contains the values [10, 20, 30, 40].
- The index of the Series is automatically generated as 0, 1, 2, 3, corresponding to each value.

#### NOTE
- The index is not part of the values - the index is called *axis*
- The values of the index is called the *axis labels*

Thus, a Series has three attributes namely:
- values 
- index
- name (optional) - we have not asigned a name to our series yet!

In [14]:
# give a name to the series - optional in nature 
series.name = 'Basic Series'

series

0    10
1    20
2    30
3    40
Name: Basic Series, dtype: int64

In [15]:
# let us look at the inde of the series 
series.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
# First level of abstraction for index - referenece data points
series[1]

20

### Custom Indexing:
The index itself acts like a built-in data structure, which you can modify independently of the values. You can change it, reset it, or even create custom labels.

In [16]:
# Creating a Series with a custom index
data = [10, 20, 30, 40]
index = ['a', 'b', 'c', 'd']

series = pd.Series(data=data, index=index)

print(series)

a    10
b    20
c    30
d    40
dtype: int64

In [17]:
series['b'] # reference data points

20

In [18]:
# what's the index now?
series.index

Index(['a', 'b', 'c', 'd'], dtype='object')

## Create a series with custom index from a dictionary

In [9]:
# Creating a dictionary
data_dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

# Converting the dictionary to a Series
series_from_dict = pd.Series(data_dict)

print(series_from_dict)

a    10
b    20
c    30
d    40
dtype: int64

#### Question: Does the data need to be homegenous?

In [20]:
# The actual data (or values) for a series does not have to be numeric or homogeneous
data_dict = {'a': 10, 'b': 'Harry Potter', 'c': False, 'd': 'Lionel Messi'}

# Converting the dictionary to a Series
series_from_dict = pd.Series(data_dict)

print(series_from_dict)

a              10
b    Harry Potter
c           False
d    Lionel Messi
dtype: object

#### NOTE

The datatype of the Series is now *object* - i.e. a python object.

- The object data type is also used for a series with string values. In addition, it is also used for values that have heterogeneous or mixed types.

#### Question: How to incorporate NULL values?

In [26]:
import numpy as np

# create a series with null values 
nan_series = pd.Series(data=[12,20,30,np.nan])

nan_series

0    12.0
1    20.0
2    30.0
3     NaN
dtype: float64

NOTE - the `np.nan` used in the above code is the same as `NULL` is SQL !